/* style.css */

body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, lightblue, rgb(113, 130, 242));
    
}



#container{
    display: grid;
    
}

/* header */
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    background-color: rgb(240 248 255 / 30%);
}

.h-left{
    margin-left: 2rem;
}

#search{
    width: 70%;
}

.h-right{
    grid-column-start: 2;
    grid-column-end: 3 ;
    justify-self: end;
    margin-right: 6rem;
}

/* Body */
.body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 3rem;
    height: 70%;
    background-color: rgb(240 248 255 / 30%);
    border-radius: 10px;
    margin: 2rem 4rem;
    border: 3px solid white;
    gap: 1rem;
}

.b-top{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 60%;
    justify-self: center;
}

.b-left{

}

.b-right{

}

.b-top,
.b-right, 
.b-left{
    text-align: center;
    border: solid 2px white;
    border-radius: 10px;
    padding: 2rem;
}

