/* style.css */

body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, lightblue, rgb(113, 130, 242));
    
}

#container{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 3fr .1fr;
    height: 100%;
   
}

/* header */
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    background-color:rgba(4, 41, 73, 0.3);
    height: 10%;
    
}

.h-left{
    margin-left: 5rem;
}

#search{
    width: 70%;
}

.h-right{
    grid-column-start: 2;
    grid-column-end: 3 ;
    justify-self: end;
    margin-right: 6rem;
}

.current-weather-div{
    font-weight: bolder;
}

.precip-div,
.wind-div{
    margin-top: 1.5rem;
}


/* Body */
.body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 3rem;
    height: 70%;
    background-color: rgba(4, 41, 73, 0.3);
    border-radius: 10px;
    margin-left: 5rem;
    margin-right: 5rem;
    gap: 1rem;
    color: white;
    margin-top: -4rem;
}

.b-top{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 60%;
    justify-self: center;
    gap: 1rem;
}

.b-left{

}

.b-right{

}

.b-top,
.b-right, 
.b-left{
    text-align: center;
    border: solid 3px white;
    border-radius: 10px;
    padding: 2rem;
}

.city-name-div{
    font-weight: bolder;
    font-size: larger;
}

.weather-emoji{
    font-size: 100px;
}

/* footer */
.footer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 3rem;
    height: 60%;
    background-color:  rgba(4, 41, 73, 0.3);
    border-radius: 10px;
    margin-left: 5rem;
    margin-right: 5rem;
    gap: 1rem;
    margin-top: -9rem;
   
    
}

.forecast-1,
.forecast-2,
.forecast-3,
.forecast-4,
.forecast-5{
    text-align: center;
    border: solid 3px white;
    border-radius: 10px;
    padding: 2rem;
}




